*{
    box-sizing: border-box;
    padding: 0;
}

/*! APP */

.App{
    
}

/*! NAVBAR */

.Navbar{
    
}

.Navbar .logo img{
    height: 40px;
}

/*! ITEMLIST */

.Itemlist{
    
}

/*! CARTWIDGET */

.Cartwidget{

}