* {
    box-sizing: border-box;
    padding: 0;
}

/*! APP */

.App {}

/*! NAVBAR */

.Navbar {}

.Navbar .logo img {
    height: 4em;
    padding: 10px;
}

/*! ITEMLIST */

.Hero {
    /* height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.163), rgba(0, 0, 0, 0.312)), url(./../img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

.Itemlist {}

.tarjetas{
    width: 30vw;
    height: auto;
}

.tarjetas div figure{
    width: 100%;
}

.tarjetas div figure img{
    width: 80%;
    height: auto;
}
/*! CARTWIDGET */

.Cartwidget {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

.Cartwidget p{
    font-size: .7em;
}

.cartarrowdown{
    font-size: 1.5em;
}