* {
    box-sizing: border-box;
    padding: 0;
}

/*! APP */

/*! NAVBAR */

.Navbar .logo img {
    height: 4em;
    padding: 10px;
}

/*! ITEMLIST */

.Hero {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.163), rgba(0, 0, 0, 0.312)), url(./../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Hero h2, .Hero h3{
    font-size: 2.5em;
    color: rgba(31, 254, 206, 0.726);
    font-weight: bolder;
    margin-top: 7vw;
}

.Itemlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjetas {
    width: 25vw;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgb(31, 254, 205);
    padding: 30px;
    margin: 50px;
}

.tarjetas div figure {
    width: 100%;
}

.tarjetas div figure img {
    width: 80%;
    height: auto;
}

/*! CARTWIDGET */

.Cartwidget {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
}

.Cartwidget p {
    font-size: .7em;
}

.cartarrowdown {
    font-size: 1.5em;
}